<div id="map"></div>

<ul id="attractions">
  <li><a href="/attractions/bodafon-farm-park" data-lat="53.3210259" data-lng="-3.8051758">Bodafon Farm Park</a></li>
  <li><a href="/attractions/great-orme-mines" data-lat="53.3298205" data-lng="-3.8488113">Great Orme Copper Mines</a></li>
  <li><a href="/attractions/great-orme-country-park-visitor-centre" data-lat="53.3353927" data-lng="-3.8455976">Great Orme Park</a></li>
  <li><a href="/attractions/great-orme-summit-complex" data-lat="53.33218" data-lng="-3.85494">Great Orme Summit</a></li>
  <li><a href="/attractions/the-great-orme-tramway" data-lat="53.3272515" data-lng="-3.8355946">Great Orme Tramway</a></li>
  <li><a href="/attractions/home-front-experience" data-lat="53.3242063" data-lng="-3.8333731">Home Front</a></li>
  <li><a href="/attractions/llandudno-cable-car" data-lat="53.32983580000001" data-lng="-3.8290348">Llandudno Cable Car</a></li>
  <li><a href="/attractions/llandudno-museum" data-lat="53.3245758" data-lng="-3.8338538">Llandudno Museum</a></li>
  <li><a href="/attractions/llandudno-ski-snowboard-centre" data-lat="53.3297523" data-lng="-3.8369134">Llandudno ski &amp; Snowboard Centre</a></li>
  <li><a href="/attractions/venue-cymru" data-lat="53.32125" data-lng="-3.81826">Venue Cymru</a></li>
  <li><a href="/attractions/victoria-centre" data-lat="53.32328" data-lng="-3.82791">Victoria Shopping Centre</a></li>
  <li><a href="/attractions/great-orme-family-golf" data-lat="53.3278" data-lng="-3.8423">Great Orme Family Golf</a></li>
</ul>
